.ImageFlat {
    width: 40px !important;
    height: 40px;
}

.ImageLogo {
    width: 50px;
    height: 40px;
    border-radius: 10px;
}

.HeaderClass {
    align-items: center !important;
    transition: all 0.5s ease !important;
    display: flex !important;
}

.HeaderClass:hover {
    background: rgba(7, 220, 185, .5);
    color: #fff !important;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}