.container {
    height: 100%;
    background-color: #f5f5f5;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 70px;
    padding-bottom: 70px;

}


.Title {
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
}

.hrTitle {

    height: 4px;
    border: solid;
    background-color: black;
    border-radius: 10px;
    width: 105px;
    margin-bottom: 40px;

}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    padding: 0 !important;
    margin: 0 !important;
    width: 300px !important;
    animation-name: card !important;
    animation-duration: 2s !important;
    animation-timing-function: linear !important;
    animation-fill-mode: forwards !important;
}

.cardHidden {
    display: none;
}


@keyframes card {
    0% {
        opacity: 0.5;
        transform: translateX(-30px);
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.reveal {
    width: 100% !important;
}

.img {
    width: 100% !important;

}

.buttonCard {
    width: 45% !important;
}