.footer {

    flex-grow: 0 !important;
    flex: 1;
    padding: 2rem 0;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.ContainerPal {
    border-top: 1px solid #eaeaea;
    padding-top: 70px;
    color: white;
    background-color: #323030;
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
    background-color: #323030;
}

.title {
    text-align: center;
    font-size: 40px;
    padding-bottom: 1px;
    background-color: #323030;

}

.IconCenter {
    cursor: pointer;
    position: absolute !important;
    z-index: 1 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
    padding: 0 !important;
    font-size: 60px !important;


}

.hrTitle {
    height: 2px;
    border: solid;
    background-color: white;
    border-radius: 10px;
    width: 105px;

}

.form {
    background-color: #323030;
}



.footer a {
    display: flex;
    justify-content: center;
    align-items: center;

}


.logo {
    color: white;
    height: 1em;
    margin-left: 0.5rem;
}





@media (prefers-color-scheme: dark) {

    .card,
    .footer {
        border-color: #222;
    }

    .code {
        background: #111;
    }

    .logo img {
        filter: invert(1);
    }
}